.b-list.mod_mainmenu .b-list__item {
	padding: 15px 20px;
}

.b-list.mod_mainmenu {
	justify-content: center;
}

@media (max-width: 980px) {
	.b-list.mod_mainmenu .b-list__item {
		padding: 10px 20px;
	}
}

@media (max-width: 390px) {
	.b-list.mod_mainmenu .b-list__item {
		padding: 10px 7px;
	}

	.b-list.mod_mainmenu .b-list__item .b-font.size_18 {
		font-size: 1rem;
	}
}