.b-list.mod_agenda {
	justify-content: center;
}

	.b-list.mod_agenda  .b-list__item {
		 text-transform: uppercase;
	 }

		.b-list .b-list__button {
			padding: 10px 0;
			background-color: #19181e;
			border: 1px solid gray;
			width: 160px;
			text-transform: uppercase;
			color: #ff5743;
		}

		.b-list .b-list__button:hover {
			color: #ffa242;
			background-color:  rgba(255, 162, 66, 0.2);
		}

		.b-list .b-list__button.active {
			color: #ff5743;
		}

@media (max-width: 700px) {
	.b-list .b-list__button.b-font.size_18 {
		font-size: 14px;
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}