.b-section {
	width: 100%;
}

.b-section-h {
	padding: 0 20px;
	position: relative;
}

.b-section-h.mod_tracks {
	display: flex;
	flex-direction: row;
}

.b-section-h.mod_column {

}

@media (min-width: 700px) {
	.b-section-h.mod_column {
		width: auto;
		padding: 0 3rem;
	}
}

@media (min-width: 1360px) {
	.b-section-h {
		width: 1360px;
		margin: 0 auto;
	}
}






