.b-header.mod_agenda {
	height: 320px;
	position: relative;
	overflow: hidden;
	background: url('background.jpg') no-repeat 50% 50%;
	background-size: cover;
}

.b-header.mod_agenda.mod_material {
	height: 215px;
}

.b-header.mod_agenda .b-header__logo {
	height: 60px;
	margin: 10px auto;
	display: block;
	background: url('UI5con_logo_plain.png') no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.b-header.mod_agenda .b-header__footer {
	margin-top: 30px;
	height: 105px;
	background: rgba(7, 7, 10, .5);
	padding-top: 30px;
}

.b-header.mod_agenda .b-header__title {
	margin: 30px auto;
}

@media (max-width: 700px) {
	.b-header.mod_agenda {
		height: 370px;
	}
	
	.b-header.mod_agenda .b-header__footer {
		height: 185px;
	}
}