.b-track {
	width: 45%;
}

.b-track__header {
	height: 40px;
	text-align: center;
	text-transform: uppercase;
}

.b-track__item {
	border: 1px solid #19181e;
}

.b-track__item.duration_5 {
	height: 30px;
}

.b-track__item.duration_10 {
	height: 60px;
}

.b-track__item.duration_10 .b-topic__time {
	display: none;
}

.b-track__item.duration_15 {
	height: 90px;
}

.b-track__item.duration_20 {
	height: 120px;
}

.b-track__item.duration_25 {
	height: 150px;
}

.b-track__item.duration_30 {
	height: 180px;
}

.b-track__item.duration_40 {
	height: 240px;
}

.b-track__item.duration_45 {
	height: 270px;
}

.b-track__item.duration_50 {
	height: 300px;
}

.b-track__item.duration_55 {
	height: 330px;
}

.b-track__item.duration_60 {
	height: 360px;
}

.b-track__item.duration_65 {
	height: 455px;
}

.b-track__item.duration_70 {
	height: 490px;
}

.b-track__item.duration_75 {
	height: 525px;
}

.b-track__item.duration_80 {
	height: 560px;
}

.b-track__item.duration_90 {
	height: 630px;
}

.b-track__item.duration_120 {
	height: 840px;
}

.b-track__item.duration_240 {
	height: 1680px;
}

.b-track__item.duration_480 {
	height: 3360px;
}


.b-track-booth__item {
	border: 1px solid #19181e;
}

.b-track-booth__item.duration_10 {
	height: 20px;
}

.b-track-booth__item.duration_10 .b-topic__time {
	display: none;
}

.b-track-booth__item.duration_15 {
	height: 30px;
}

.b-track-booth__item.duration_20 {
	height: 40px;
}

.b-track-booth__item.duration_30 {
	height: 60px;
}

.b-track-booth__item.duration_40 {
	height: 80px;
}

.b-track-booth__item.duration_45 {
	height: 90px;
}

.b-track-booth__item.duration_50 {
	height: 100px;
}

.b-track-booth__item.duration_55 {
	height: 110px;
}

.b-track-booth__item.duration_60 {
	height: 120px;
}

.b-track-booth__item.duration_70 {
	height: 140px;
}

.b-track-booth__item.duration_90 {
	height: 180px;
}

.b-track-booth__item.duration_120 {
	height: 240px;
}

.b-track-booth__item.duration_240 {
	height: 480px;
}

.b-track-booth__item.duration_480 {
	height: 960px;
}

.b-track__item .b-topic {
	height: 100%;
}

.b-track-booth__item .b-topic {
	height: 100%;
}

@media (max-width: 700px) {
	.b-track {
		width: auto;
	}
}
