/* b-font */
.b-font {

}

/* Size 13 */
.b-font.size_13 {
	font-size: 13px;
}

.b-font.size_14 {
	font-size: 14px;
}

/* Size 15 */
.b-font.size_15 {
	font-size: 15px;
}

/* Size 18 */
.b-font.size_18 {
	font-size: 18px;
}

/* Size 24 */
.b-font.size_24 {
	font-size: 24px;
}

/* Size 28 */
.b-font.size_28 {
	font-size: 28px;
}

/* Size 36 */
.b-font.size_36 {
	font-size: 36px;
}

.b-font.size_32 {
	font-size: 32px;
}

/* Size 38 */
.b-font.size_38 {
	font-size: 38px;
}

/* Size 42 */
.b-font.size_42 {
	font-size: 42px;
}

/* Size 120 */
.b-font.size_120 {
	font-size: 120px;
	line-height: 1;
}

.b-font.color_yellow {
	color: #ffa242;
}

.b-font.color_red {
	color: #ff5743;
}

.b-font.color_white {
	color: #fff;
}

.b-font.color_gray {
	color: #aaa;
}

.b-font.color_dark_gray {
	color: #555;
}

.b-font.weight_light {
	font-weight: 300;
}

.b-font.weight_semi-bold {
	font-weight: 500;
}

.b-font.weight_bold {
	font-weight: 700;
}

@media (max-width: 980px) {
	.b-font.size_42 {
		font-size: 40px;
	}

	.b-font.size_36 {
		font-size: 30px;
	}

	.b-font.size_28 {
		font-size: 26px;
	}

	.b-font.size_24 {
		font-size: 22px;
	}

	.b-font.size_18 {
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	.b-font.size_36 {
		font-size: 26px;
	}
}

@media (max-width: 390px) {
	.b-font.size_36 {
		font-size: 24px;
	}

	.b-font.size_28 {
		font-size: 22px;
	}

	.b-font.size_24 {
		font-size: 20px;
	}

	.b-font.size_15 {
		font-size: 14px;
	}

	.b-font.size_14 {
		font-size: 13px;
	}
}