/* b-ui */
.b-ui {

}

.b-ui.margin_40 {
	margin-bottom: 40px;
}

.b-ui.margin_30 {
	margin-bottom: 30px;
}

.b-ui.margin_20 {
	margin-bottom: 20px;
}

.b-ui.margin_10 {
	margin-bottom: 15px;
}

.b-ui.margin_15 {
	margin-bottom: 15px;
}

.b-ui.margin_5 {
	margin-bottom: 5px;
}

.b-ui.align_center {
	text-align: center;
}

.b-ui.margin_right_10 {
	margin-right: 10px;
}

.b-ui.margin_right_20 {
	margin-right: 20px;
}

.b-ui.margin_20_0_30 {
	margin: 20px 0 30px;
}

.b-ui.text-align_left {
	text-align: end;
}

.b-ui.margin-bottom_10_5_percent {
	margin-bottom: 10.5%;
}

@media (max-width: 700px) {
	.b-ui.margin_m_20 {
		margin-bottom: 20px;
	}
}