/* b-topic */
.b-topic {
    position: relative;
    padding: 25px;
    text-align: left;
    height: 230px;
    margin: 10px;
}

    .b-topic__title {
        text-transform: uppercase;
    }

    .b-topic__meet_me {
        height: 40px;
        text-transform: uppercase;
    }
    .b-topic__format {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }

    .b-topic__time {
         position: absolute;
         bottom: 25px;
         right: 25px;
     }

.b-topic:before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #2f2f32;
    content: '';
    transition: all 0.25s ease-out;
}

.b-topic:hover:before {
    pointer-events: none;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-color: #525257;
}

.b-topic.mod_more {
    text-align: center;
    color: #ffa242;
    padding-top: 68px;
}

.b-topic.mod_more:before {
    border-color: #ffa242;
}

.b-topic.mod_more:hover:before {
    border-color: #ffa242;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 550px) {
    .b-topic {
        height: auto;
        }
        .b-topic__title {
            height: auto;
            }
        .b-topic.mod_more {
            padding-top: 25px;
            }

    .b-topic__title.mod_splitter {
        display: none;
    }
}

@media (max-width: 900px) {
    .b-track__item.duration_20 .b-topic__title.b-font.size_15 {
        font-size: 10px;
        overflow: hidden;
    }

    .b-track__item.duration_20 .b-font.size_13 {
        font-size: 12px;
        line-height: 0.8rem;
    }

    .b-topic__format {
        display: none;
    }
}

.b-topic__detailsLink {
    position: absolute;
    right: 25px;
    bottom: 50px;
}
.b-topic__content a {
    word-break: break-word;
}
