.b-topic.mod_popup {
	height: 100%;
	padding-bottom: 55px;
	background: #e9e9e9;
}

.b-topic.mod_popup .b-topic__title_block  {
	margin-bottom: 50px;
}

@media (max-width: 700px) {
	.b-topic.mod_popup .column_1 {
		max-width: 100%;
	}

	.b-topic.mod_popup .column_3 {
		max-width: 100%;
	}
}

@media (min-width: 701px) {
	.b-topic.mod_popup .column_1 {
		max-width: 72%;
	}

	.b-topic.mod_popup .column_3 {
		max-width: 25%;
	}
}

.b-topic__inner {
	padding: 0 0 45px 0;
	height:90%;
}

.b-topic__abstract {
	clear: both;
	white-space: pre-line;
	overflow:auto;
	height: inherit;
}

@media (max-width: 700px) {
	.b-popup__content {
		height: 90%;
		width: 90%;
		position: fixed;
		top: 5%;
		left: 5%;
	}
}