.b-topic.mod_speaker {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: auto;
}

.b-topic.mod_speaker .b-topic__image-column {
	width: 100%;
	overflow: hidden;
}

.b-topic.mod_speaker .b-topic__picture {
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

.b-topic__title.column_1,
.b-topic__title.column_2,
.b-topic__title_splitter{
	float: left;
}

.b-topic__title.column_3 {
	text-align: right;
	float: right;
	max-width: 600px;
	clear: right;
}

@media (max-width: 980px) {

	.b-topic__title.column_3 {
		clear: left;
		float: none;
		text-align: left;
	}
}

@media (max-width: 390px) {
	.b-topic__title_splitter{
		display: none;
	}

	.b-topic__title.column_2 {
		clear: left;
		float: none;
	}
}