.b-topic.mod_gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	transition: height 0.15s ease-in-out;
}

.b-topic.mod_gallery.mod_selected:before {
	border-color: #ffa242;
}
	.b-topic.mod_gallery .b-topic__picture {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		background-repeat: no-repeat;
		background-size: cover;
		margin: 10px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

@media (max-width: 550px) {
	.b-topic.mod_gallery:before {
		border-width: 2px;
	}

		.b-topic.mod_gallery .b-topic__picture {
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			margin: 5px;
		}
}
