.b-popup__hidden {
    display: none;
}

.b-popup {
    z-index: 1000;
    width: 800px;
}

.b-popup__content > div {
    background-color: #000;
}

.b-popup__overlay {
    opacity:0.6;
    background-color: #000;
    display:none;
    position:fixed;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    margin: 0px;
    z-index:100;
}